<table width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%!important;table-layout:fixed" bgcolor="#ffffff">
  <tbody>
    <tr>
      <td valign="top" align="center">
        <div class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491wrapper" style="min-width:820px;margin:0 auto"
          align="center">
          <table bgcolor="#fcfcfc" width="800" border="0" cellpadding="0" cellspacing="0" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
            style="width:800px;margin:0 auto;border:solid 1px #e3e7ec;border-bottom:0;padding-top:20px;padding-bottom:20px">
            <tbody>
              <tr>
                <td align="center" dir="ltr">
                  <table bgcolor="#fcfcfc" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width" width="610"
                    border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
                    <tbody>
                      <tr>
                        <td dir="ltr">
                          <a href="<%=templateInfo.clientUrl%>"><img src="<%=templateInfo.clientLogo%>" alt="BuxSuperStore"
                              border="0" height="41" id="m_-3986923289735252255m_307618447986949820amazonLogo" width="108"></a>
                        </td>

                        <td class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491center"
                          dir="ltr" align="right" width="40%" valign="bottom" style="max-width:343px;vertical-align:bottom">
                          <img class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491header-img CToWUd a6T"
                            src="http://api.buxsuperstore.com/shipvan.png"
                            width="278" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 720.344px; top: 436px;">
                            <div id=":13f" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"
                              data-tooltip="Download">
                              <div class="aSK J-J5-Ji aYr"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <p class="mr-5 text-right" style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:17px;font-weight:bold;line-height:0.24;letter-spacing:-0.1px;color:#4a4a4a;margin-right:100px;text-align:right;padding-top: 10px">
                    Order Return
                  </p>
                  <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;font-weight:bold;line-height:0.24;letter-spacing:-0.1px;color:#4a4a4a;margin-right:100px;text-align:right">
                    Order Id:
                    <%=templateInfo.invoiceNo%>

                  </p>

          </table>
          <table dir="rtl" bgcolor="#fcfcfc" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
            width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">

            <tbody>

            </tbody>

          </table>



          <table width="800" border="0" cellpadding="0" cellspacing="0" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
            style="width:800px;margin:0 auto;border:solid 1px #e3e7ec;border-top:0;border-bottom:0;padding-top:35px;padding-bottom:35px">
            <tbody>
              <tr>
                <td align="center" dir="ltr">
                  <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width" width="610" border="0"
                    cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
                    <tbody>
                      <tr>
                        <td style="padding:5px">
                          <h3 style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:17px;font-weight:bold;line-height:1.24;letter-spacing:-0.1px;color:#4a4a4a;margin:0">Hello
                            <%=templateInfo.name%>
                          </h3>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:5px">
                          <%if(templateInfo.status === "ReturnRequested"){%>
                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.62;color:#404553;letter-spacing:normal">
                            This is to inform you that a package from your order with order ID
                            <%=templateInfo.invoiceNo%>, has been return requested.
                          </p>
                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.62;color:#404553;letter-spacing:normal">
                            We will send you an email once we process the refund. 
              
                          </p>
                          <%}else if(templateInfo.status === "Refunded"){%>
                            <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.62;color:#404553;letter-spacing:normal">
                              Refund for your buxsuperstore Order has been applied to your buxsuperstore wallet. You can check your balance by visiting <a href= "https://www.buxsuperstore.com/myAccount" target="_blank">buxsuperstore</a>. 
                            </p>
                          <%}%>

                        </td>
                      </tr>
                      <tr>
                        <td style="padding:5px">
                          <h3 style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:17px;font-weight:bold;line-height:1.24;letter-spacing:-0.1px;color:#4a4a4a;margin:0">
                            Order Details
                          </h3>
                        </td>
                      </tr>

                      <tbody>
                        <tr>
                          <td style="border-bottom:solid 1px #e2e5f1" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"></td>
                        </tr>
                      </tbody>
                      <tr>
                        <td align="center" dir="ltr" style="padding-top:30px;padding-bottom:25px">
                          <table dir="ltr" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width" width="610"
                            border="0" cellpadding="0" cellspacing="5" style="width:610px;margin:0 auto;padding:0">
                            <tbody>
                              <tr>
                                <td width="50%" valign="top" align="left" style="background-color:#f8f9fb" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td">
                                  <table align="left" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width" valign="top" style="background-color:#f8f9fb;padding:16px 20px 6px 20px;box-sizing:border-box">
                                    <tbody>
                                      <tr>
                                        <td colspan="2">
                                          <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;font-weight:bold;letter-spacing:0.2px;color:rgb(74,74,74);line-height:1.5;margin:0px;text-transform:uppercase">Order
                                            Summary
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;margin:0px;color:rgb(64,69,83)">Order
                                            No:
                                         <%=templateInfo.invoiceNo%>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                          <td>
                                            <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;margin:0px;color:rgb(64,69,83)">
                                              Purchased on:
                                             <%=templateInfo.purchasedOn%>
                                                </div>
                                              </td>
                                        </tr>
                                    
                                    


                                    </tbody>
                                  </table>
                                </td>
                                <td width="50%" valign="top" align="right" style="background-color:#f8f9fb" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td">
                                  <table align="left" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width" valign="top" style="box-sizing:border-box;background-color:#f8f9fb;padding:16px 20px">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;letter-spacing:0.2px;color:rgb(74,74,74);line-height:1.5;font-weight:bold;text-transform:uppercase;margin:0px">Shipping
                                            Address
                                          </div>
                                          <div style="font-family:&quot;Proxima Nova&quot;,&quot;Open Sans&quot;,Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:rgb(64,69,83);margin:0px">
                                            <%=templateInfo.shipping.name%>
                                              <br> <%=templateInfo.shipping.phone%><br> <%=templateInfo.shipping.street%> <br>
                                                  <u></u>
                                                  <%=templateInfo.shipping.city%>,
                                                    <%=templateInfo.shipping.state%>
                                                      <u></u> <br> <%=templateInfo.shipping.country%>
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>


                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td align="center" dir="ltr">
                  <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width" width="610" border="0"
                    cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:10">
                    <tbody>
                      <tr>
                        <td style="padding:0 5px">
                          <table width="600" style="min-width:100%!important;margin:0 auto;width:600px" align="center" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
                            cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td style="border-bottom:solid 1px #e2e5f1" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"></td>
                              </tr>
                            </tbody>
                          </table>
                          <table width="600" style="margin:0 auto;padding:10px 8px;min-width:600px;width:600px" align="center" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                            cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td valign="middle" width="67.5" style="width:67.5px;padding-right:15px">
                                  <div style="width:67.5px">

                                    <div style="max-height:0;max-width:0;overflow:visible">
                                      <img align="left" src="<%=templateInfo.image%>" style="width:80px" class="CToWUd">
                                    </div>
                                  </div>
                                </td>
                                <td valign="middle">

                                  <table style="margin:0" width="100%" dir="rtl">

                                    <tbody>
                                      <tr>
                                        <td dir="ltr" valign="top" align="left" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"
                                          style="padding-left:0px">

                                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.31;text-align:left;color:#404553;padding-bottom:5px">
                                            <%=templateInfo.orderName%>
                                          </p>
                                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;text-align:left;color:#7e859b;padding-bottom:10px">Quantity
                                            :
                                            <%=templateInfo.quantity%>
                                          </p>

                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table width="600" style="min-width:100%!important;margin:0 auto;width:600px" align="center" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
                            cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td style="border-bottom:solid 1px #e2e5f1" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"></td>
                              </tr>
                            </tbody>
                          </table>


                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>



              <tr>
                <td align="center" dir="ltr">
                  <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width" width="610" border="0"
                    cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
                    <tbody>
                      <tr>
                        <td style="padding:20px 5px 0 5px">
                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.62;color:#404553;letter-spacing:normal">
                            If you need forther assistance, please visit <a href="<%=templateInfo.clientUrl%>">Help</a>.

                          </p>
                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.62;color:#404553;letter-spacing:normal">
                            We hope to see you again soon.
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:5px 5px 0 5px">
                          <p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:14px;font-weight:600;line-height:1.4;color:#4a4a4a"><br>The
                            BUX SuperStore team</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>


         
         
          <table bgcolor="#fcfcfc" width="800" border="0" cellpadding="0" cellspacing="0" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width"
          style="width:800px;margin:0 auto;border:solid 1px #e3e7ec;border-top:0;padding-top:20px;padding-bottom:20px">
          <tbody>
            <tr>
              <td align="center" dir="ltr">
                <table bgcolor="#fcfcfc" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width" width="610"
                  cellpadding="0" cellspacing="0" style="box-sizing:border-box;width:610px;margin:0 auto;padding:0 5px">
                  <tbody>
                    <tr>
                      <td align="left" style="padding-bottom:11px">
                        <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491gmailfix"
                          width="382" valign="center" align="left">
                          <tbody>
                            <tr>
                              
                              <td>
                                <table valign="center">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491center">
                                          <tbody>
                                            <tr>
                                              <td>
                                                <img src="http://api.buxsuperstore.com/email.png"
                                                  width="16" class="CToWUd">
                                              </td>
                                              <td>
                                                <table>
                                                  <tbody>
                                                    <tr>
                                                      <td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif!important;font-size:10px;letter-spacing:0.3px;text-align:left;color:#a2a9bb">Email
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif!important;font-size:11px;font-weight:bold;text-align:left;color:#222632"><a
                                                          href="mailto:support@buxsuperstore.com" rel="noreferrer" target="_blank">buxsuperstore@gmail.com</a>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              
                            </tr>
                          </tbody>
                        </table>
                        <table class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width" width="157" valign="center" align="right">
                          <tbody>
                            <tr>
                              <td style="padding:15px">
                                <a href="https://www.facebook.com/bux.superstore.92" rel="noreferrer" target="_blank" ><img
                                    src="http://api.buxsuperstore.com/fb.png"
                                    width="6" style="margin:0 auto" class="CToWUd"></a>
                              </td>
                              <td style="padding:15px">
                                <a href="https://twitter.com/BuxSuperstore" rel="noreferrer" target="_blank" ><img
                                    src="http://api.buxsuperstore.com/twitter.png"
                                    width="13" style="margin:0 auto" class="CToWUd"></a>
                              </td>
                              <td style="padding:15px">
                                <a href="https://www.instagram.com/buxsuperstore/" rel="noreferrer" target="_blank"><img
                                    src="http://api.buxsuperstore.com/insta.png"
                                    width="13" style="margin:0 auto" class="CToWUd"></a>
                              </td>
                             
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
              <tr>
                <td align="center" dir="ltr">
                  <table border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;border-top:2px solid #e3e7ec;padding:10px 0 10px 0"
                    class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width">
                    <tbody>
                      <tr>
                        <td width="60%" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491almost-full-width"
                          style="padding:8px;font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092">
                          You are receiving this email as&nbsp;<strong><a href='<%=templateInfo.email%>' rel="noreferrer"
                              target="_blank">
                              <%=templateInfo.email%></a></strong>&nbsp;is registered on <a href="https://www.buxsuperstore.com" rel="noreferrer"
                            target="_blank">buxsuperstore.com</a>.
                        </td>

                        <td width="40%" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"
                          style="padding:10px 0">
                          <div style="margin:0 auto;text-align:center">
                            <a href="http://buxsuperstore.com/policy" style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092;text-decoration:underline"
                              rel="noreferrer" target="_blank">
                              Privacy Policy</a> &nbsp;

                          </div>
                        </td>


                      </tr>
                      <tr>
                        <td width="60%" class="m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491full-width m_-5949703443465974877m_-9048732096167365384m_-1870441925244347491block-td"
                          style="padding:8px;font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092">
                          2018 Bux SuperStore.
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
      </td>
    </tr>
  </tbody>
</table>
        </div>
        </td>
        </tr>
        </tbody>
</table>
<div class="yj6qo"></div>
<div class="adL">
</div>
</div>
<div class="adL">
</div>
</blockquote>
</div>
</div>