<div align="center">
    <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 784px; border-collapse: collapse">
      <tbody>
        <tr>
          <td valign="top" style="background-color: rgb(255, 255, 255); padding: 0in; background-position: initial initial; background-repeat: initial initial">
            <div align="center">
              <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" align="left" width="100%" style="width: 100%;margin: 10px 0; border-collapse: collapse">
                <tbody>
                  <tr>
                    <td valign="top" style="padding: 0in 6.75pt">
                      <div style="margin: 0in 0in 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif; text-align: center">
                        <img width="150" id="_x0000_i1025" src="<%=templateInfo.clientLogo%>">
                        <!-- o ignored -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top" id="templateBody" style="background-color: white; padding: 20.25pt 0in 47.25pt; background-size: cover; background-position: 50% 50%; background-repeat: initial initial">
            <div align="center">
              <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" align="left" width="100%" style="width: 100%; border-collapse: collapse; margin-left: -1.5pt; margin-right: -1.5pt; max-width: 100%; min-width: 100%">
                <tbody>
                  <tr>
                    <td width="600" valign="top" style="width: 6.25in; padding: 0in; word-break: break-word">
                      <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" align="left" width="100%" style="width: 100%; border-collapse: collapse">
                        <tbody>
                          <tr>
                            <td valign="top" style="padding: 0in 13.5pt 6.75pt">
                              <h2 align="left" style="margin: 0in 0in 0.0001pt; line-height: 42px; font-size: 21pt; font-family: Helvetica, sans-serif; color: rgb(34, 34, 34); text-align: left">
                                Welcome to <%=templateInfo.websiteName%>
                                <!-- o ignored -->
                              </h2>
                              <p class="MsoNormal" style="margin: 0in 0in 7.5pt; font-size: 12pt; font-family: 'Times New Roman', serif; line-height: 24px">
                                <span style="font-family: Helvetica, sans-serif; color: gray">
                                  &nbsp;
                                  <!-- o ignored -->
                                </span>
                              </p>
                              <p class="MsoNormal" align="left" style="margin: 0in 0in 7.5pt; font-size: 12pt; font-family: 'Times New Roman', serif; text-align: left; line-height: 24px">
                                <span style="font-family: Helvetica, sans-serif; color: gray">
                                  Dear
                                  <span style="text-transform: uppercase;" class="text-capitalize"><%=templateInfo.name%></span>,&nbsp;
                                  <br>
                                  <br>These are the login details. Please Reset your Password after login
                                  <br>
                                  <span style="font-family: Helvetica, sans-serif; color: gray">
                                    Email:<%=templateInfo.email%>
                                    <br>
                                    <span style="font-family: Helvetica, sans-serif; color: gray">
                                      Password:<%=templateInfo.password%>
                                      <br>
                                      <br>
                                      <br>As the account administrator, you are authorized to open access to additional individuals
                                      at your organization per the terms of your Subscriber Agreement.&nbsp;
                                      <!-- o ignored -->
                                    </span>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="padding: 0in 13.5pt 13.5pt">
                      <div align="center">
                        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="background-color: rgb(216, 0, 0); border-collapse: collapse; background-position: initial initial; background-repeat: initial initial">
                          <tbody>
                            <tr>
                              <td style="padding: 13.5pt">
                                <div style="margin: 0in 0in 0.0001pt; font-size: 12pt; font-family: 'Times New Roman', serif; text-align: center">
                                  <span style="font-size: 13.5pt; font-family: Helvetica, sans-serif">
                                    <a href="<%=templateInfo.url%>" title="Login Here" style="color: purple; text-decoration: none" target="_blank" rel="noreferrer">
                                      <b>
                                        <span style="color: white; letter-spacing: -0.4pt; text-decoration: none">Login</span>
                                      </b>
                                    </a>
                                    <!-- o ignored -->
                                  </span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top" id="templateFooter" style="background-color: rgb(51, 51, 51); background-size: cover; background-position: 50% 50%; background-repeat: initial initial">
            <div style="position: relative; padding: 0px 20px;margin: 0 auto;background-color: #333333;font-family: 'latolight';font-size: 14px;color: #ffffff;padding: 17px 0px 19px; flex-shrink: 0;">
              <div style="position: relative;">
                <div style="float: none;text-align: center; padding: .5px 0px; position: relative; z-index: 2;">
                  © 2018 <%=templateInfo.websiteName%>, LLC. All rights reserved.
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>