<table width="640" cellspacing="0" style="font:12px/16px Arial,sans-serif;color:rgb(51,51,51);background-color:rgb(255,255,255);margin:0 auto"
  id="m_-3986923289735252255m_307618447986949820container" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" style="padding:20px 0px 10px 20px;width:100px;border-collapse:collapse" id="m_-3986923289735252255m_307618447986949820topNav">
        <a href="<%=templateInfo.clientUrl%>"><img src="<%=templateInfo.clientLogo%>" alt="BuxSuperStore" border="0" height="31"
            id="m_-3986923289735252255m_307618447986949820amazonLogo" style="font-size:11px" width="108"></a> </td>
      <td style="text-align:right;padding:0px 20px">
        <table cellspacing="0" style="font:12px/16px Arial,sans-serif;color:rgb(51,51,51);margin:0 auto;border-collapse:collapse;border-bottom:1px solid rgb(234,234,234);padding:0"
          id="m_-3986923289735252255m_307618447986949820marketingContent" cellpadding="0">
          <tbody>
            <tr>
              <td style="border-bottom:1px solid rgb(204,204,204);width:490px" class="m_-3986923289735252255m_307618447986949820topHeaderLinks">
            </tr>
            <tr>
              <td style="padding:7px 0px 0px 20px;text-align:right;width:490px"> <span style="font:20px Arial,san-serif">Shipment
                  Tracking
                </span> </td>
            </tr>
            <tr>
              <td style="padding:0px 0px 5px 20px;text-align:right;width:120px"> <span style="font-size:12px"> Order Id:
                </span> <span style="font-size:12px"> <a style="text-decoration:none;color:#006699"><%=templateInfo.invoiceNo%></a>
                  <br> </span> </td>
            </tr>
          </tbody>
        </table>
        </td>
    </tr>
    <tr>
      <td colspan="2" style="width:640px">
        <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Hello <%=templateInfo.name%>,</p> <br>        <p
          style="margin:4px 20px 18px 20px;width:640px">
          This is to inform you that a package from your Products with order ID <%=templateInfo.invoiceNo%>, is being returned to our
          Fulfilment Centre. <br><br> Orders can be returned for a number of reasons including lack of address
          information or failed delivery attempts. Labels can also become smudged or torn in transit rendering the delivery
          address incomplete.
        </p>
        <br>
        <p style="font:18px Arial,sans-serif;color:#cc6600;margin:15px 20px 0 20px">Address Details,</p><br>
      </td>
    </tr>

    
    <tr>
      <td colspan="2" style="padding:0 20px;width:640px">
        <table cellspacing="0" style="border-top:3px solid #2d3741;width:640px" cellpadding="0">
          <tbody>
            <tr>
              <td valign="top" rowspan="2" style="font:14px Arial,san-serif;padding:11px 0 14px 18px;width:280px;background-color:#efefef">
                <p style="margin:2px 0"> <strong> <%=templateInfo.shipping.name%> <br> <%=templateInfo.shipping.phone%><br>                    <%=templateInfo.shipping.street%>
                    <br>
                    <u></u>
                    <%=templateInfo.shipping.city%>,<%=templateInfo.shipping.state%>
                    <u></u> <br> <%=templateInfo.shipping.country%> </strong> </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="width:640px">
        <p style="font:18px Arial,sans-serif;color:#cc6600;border-bottom:1px solid #ccc;margin:10px 20px 3px 20px;padding:0 0 3px 0">
          Package Contents </p>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="width:150px;height:115px">
        <img src="<%=templateInfo.image%>" style="margin:0 0 14px 0" class="CToWUd">
      </td>
      <td valign="top" style="color:#666;padding:10px 10px 0 10px;width:330px;height:115px">
        <%=templateInfo.orderName%>
      </td>
    </tr>
    </tr>
    <tr>
      <td colspan="2" style="padding:0 20px;line-height:22px;width:640px">
        <p style="text-align:center;border-top:1px solid #ccc;padding:20px 0 0 0">
          © 2018 <%=templateInfo.websiteName%>, LLC. All rights reserved.
          <a href="<%=templateInfo.clientUrl%>" target="_blank">Customer Service</a>. </p>
      </td>
    </tr>
  </tbody>
</table>